<section class="section-clients">

  <h3 id="clients">Client says</h3>


  <div class="clients-belt">
    {% for client in site.data.settings.clients %}
      <div class="client-unit {% if forloop.first %}active-client{% endif %}">

        <figure class="client-face">
          <img src="{{ site.github.url }}/assets/img/clients/{{ client.avatar }}" alt="client-face">
          <figcaption>
            <strong class="client-name">{{ client.name }}</strong>
            <em class="client-title">{{ client.title }}</em>
          </figcaption>
        </figure>

        <div class="client-content">
          <div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
          {{ client.quote }}
        </div>
      </div>
    {% endfor %}

  </div>



</section>
