<section class="section-work">

  <h3 id="work">Portfolio</h3>
  <div class="row">
    <a href="https://github.com/arptoth/Kuzunshiji_MNIST/blob/master/TPUvsGPU_Kuzunshiji_MNIST.ipynb">
    <div class="column">
      <img src="assets/img/japanese.jpeg" alt="">
      <h4>Kozunshiji</h4>
      <p>Recognizing ancient japanese<br> character with tensorflow.</p>
    </div>
    </a>
    <a href="https://github.com/arptoth/Kuzunshiji_MNIST/blob/master/TPUvsGPU_Kuzunshiji_MNIST.ipynb">
    <div class="column">
      <img src="assets/img/japanese.jpeg" alt="">
      <h4>Kozunshiji</h4>
      <p>Recognizing ancient japanese character with tensorflow.</p>
    </div>
    </a>
    <a href="https://github.com/arptoth/Kuzunshiji_MNIST/blob/master/TPUvsGPU_Kuzunshiji_MNIST.ipynb">
    <div class="column">
      <img src="assets/img/japanese.jpeg" alt="">
      <h4>Kozunshiji</h4>
      <p>Recognizing ancient japanese character with tensorflow.</p>
    </div>
    </a>
  </div>
</section>

<!-- <img src="assets/img/work/img1.jpg" alt="Smiley face" height="42" width="42"> -->
