<section class="section-work">

  <h3 id="work">Portfolio</h3>
  <div class="row">
    <a href="https://github.com/arptoth/Kuzunshiji_MNIST/blob/master/TPUvsGPU_Kuzunshiji_MNIST.ipynb">
    <div class="column">
      <img src="assets/img/japanese.jpeg" alt="">
      <h4>Kozunshiji</h4>
      <p>Recognizing ancient japanese<br> character with python and tensorflow</p>
    </div>
    </a>
    <a href="http://rpubs.com/arptoth/502307/">
    <div class="column">
      <img src="assets/img/segmentation.png" alt="">
      <h4>Customer segmentation with R</h4>
      <p>Classifying Mall customers in 3D</p>
    </div>
    </a>
    <a href="https://github.com/arptoth/breast_cancer_prediction/blob/master/Breast_Cancer_Wisconsin_(Diagnostic)_Data_Set.ipynb">
    <div class="column">
      <img src="assets/img/breast.png" alt="">
      <h4>Breast Cancer prediction</h4>
      <p>Support cancer diagnosis with machine learning</p>
    </div>
    </a>
  </div>
</section>

<!-- <img src="assets/img/work/img1.jpg" alt="Smiley face" height="42" width="42"> -->
