<section class="section-work">

  <h3 id="work">Portfolio</h3>
  <div class="blurb">
    <p>Full data science path at DataCamp</p><br>
    <p>Siraj Raval 3 month challange</p><br>
    <p>Full data science path at DataCamp</p><br>
  </div>
</section>

<section class="section-portfolio">
  <div class="row">
    <div class="column">
      <h2>Column 1</h2>
      <p>Some text..</p>
    </div>
    <div class="column">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>
</section>

<!-- <img src="assets/img/work/img1.jpg" alt="Smiley face" height="42" width="42"> -->
